<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Cylc</string>
	<key>uuid</key>
	<string>B56E4D7C-E380-4DCE-A768-5CA5F0A7F0ED</string>
</dict>
</plist>
